.navigation {

  &-opener {
    width: 20px;
    height: 30px;
    position: relative;
    z-index: 3;
    display: block;

    &-text {
      position: absolute;
      right: 100%;
      padding-right: 15px;
      @include animate(opacity visibility);
    }

    &:before, &:after, &-line {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        right: 0;
        height: 1px;
        background: $white;
        display: block;
        @include animate(transform opacity visibility);
      }

      &:after {
        top: inherit;
        bottom: 7px;
      }

      &-line {
        opacity: 1;
        visibility: visible;
        top: 50%;
      }

      .navigation-active  & {

        &:after, &:before {
          content: '';
          transform: rotate(-45deg);
          top: 50%;
        }
    
        &:before {
          transform: rotate(45deg);
        }
    
        &-line, &-text {
          opacity: 0;
          visibility: hidden;
        }
        
      }

  }

  .navigation-drop {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    cursor: default;
    transform: translateX(100%);
    @include animate(transform);
    text-align: center;
    padding: 100px 15px;
    overflow: auto; 

    .navigation-active & {
      transform: translateX(0);
      background: #444a52;
    }

    .nav-menu {
      padding-bottom: 115px;
      @extend %listreset;
      z-index: 2;
      position: relative;
      font-size: 35px;
      font-weight: 600;
      text-transform: uppercase;

      &:after {
        content: '';
        width: 170px;
        height: 1px;
        background-color: $orange;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 70px;
      }

      li {

        &:not(:last-child) {
          padding-bottom: 40px;
        }

      }

    }

  }

}

.navigation-active {
  overflow: hidden;
}