.carousel-section {
  position: relative;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100% 100%;
  padding: 100px 0;
  z-index: 0;

  .container {
    display: block;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #444a52;
    opacity: 0.9;
    z-index: -1;
  }

}
