.company-products {
  padding:100px 0 100px;
}

.products-block-wrapper {
  flex-direction: column;
  align-items: center;

  .content-head {
    padding-bottom: 85px;
  }

  .content-items {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
    @extend %listreset;


    li {
      width: (100%/3);
      padding: 0 15px 30px;
      display: flex;
      justify-content: center;

      a {
        display: block;
        width: 100%;
      }

      .item-wrapper {
        position: relative;
        display: flex;
        justify-content: center;

        img {
          width: 100%;
        }

        &:hover .item-description {
          opacity: 1;
          visibility: visible;
          border-radius: 10px;
        }

      }

      .item-description {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        border-radius: 10px;
        z-index: 2;
        color: $white;
        @include animate(background-color opacity color visibility);

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: $orange;
          opacity: 0.9;
          border-radius: 10px;
          z-index: -1;
          visibility: visible;
        }

        span {
          color: $black;
          width: 100%;
          background-color: $white;
          border: 1px solid transparent;


           &:hover {
            color: $orange;
          }

        }

        h3 {
          margin: 0 0 15px;
        }

        p {
          margin: 0 0 50px;
        }

      }

    }

  }

  button {
    color: #3b434c;
    width: 20%;

    &:hover {
      color: $white;
    }

  }

}

@include media("<tablet") {

  .products-block-wrapper .content-items li {
    width: 50%;
  }

}

@include media("<phone") {

  .products-block-wrapper .content-items li {
    width: 100%;
    padding: 0 0 15px;

    .item-wrapper {
      width: 100%;

      img {
        width: 100%;
      }

    }

  }

  .products-block-wrapper button {
    width: 100%;
  }

}
