.popup {
    max-width: 765px;
    width: 100%;
    background-color: $white;
    padding: 60px 100px;
    @include vertical-align-el;
    z-index: 3;
    transform: translate(-50%, 500%);
    visibility: hidden;
    @include animate(transform visibility);
    display: block;
    text-align: center;

    .popup-active & {
        position: fixed;
        transform: translate(-50%, -50%);
        visibility: visible;
    }

    .content-head {
        padding-bottom: 45px;
        display: inline-block;

        p {
            margin-bottom: 0;
        }

    }

    form {
        width: 100%;

        .row {

            .form-row {
              margin-bottom: 30px;

              input {
                  border: 1px solid #c4c6c9;

                  &:focus {
                      border-color: $orange;
                  }

              }

            }

            .form-row-lg {
                display: flex;
                margin-bottom: 30px;

                textarea {
                    border: 1px solid #c4c6c9;

                    &:focus {
                        border-color: $orange;
                    }

                }

            }
            
        }

        .form-row-lg {

            button {
                
                &:hover {
                    background: $orange;
                    color: $black;
                    border: 1px solid transparent;
                }

            }
            
        }

    }

}

@include media("<tablet") {

    .popup {
        padding: 30px 15px;
    }
    
}

.popup-overlay {

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #444a52;
        opacity: 0.9;
        z-index: 2;
    }
}