.popup {
    max-width: 765px;
    width: 100%;
    background-color: $white;
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include vertical-align-el;
    position: fixed;
    @include animate(transform visibility);
    z-index: 3;
    display: none;

    .content-head {
        padding-bottom: 45px;

        p {
            margin-bottom: 0;
        }

    }

    form {
        width: 100%;

        .row {

            .form-row {
              margin-bottom: 30px;

              input {
                  border: 1px solid #c4c6c9;

                  &:focus {
                      border-color: $orange;
                  }
              }

            }

            .form-row-lg {
                display: flex;
                margin-bottom: 30px;

                textarea {
                    border: 1px solid #c4c6c9;

                    &:focus {
                        border-color: $orange;
                    }
                }

            }
            
        }

    }

}

@include media("<tablet") {

    .popup {
        padding: 30px 15px;
    }
    
}