.user-inf-section {
  padding: 100px 0;
}

.content-head {
  text-align: center;
  padding-bottom: 100px;
  max-width: 470px;

  .site-caption {
    color: $black;
  }

}

.user-inf-wrapper {
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .radio-buttons {
    display: flex;
    @include lists-reset;

    li:not(:last-child) {
      padding-right: 10px;
    }

    li {

      a {
        display: block;
        width: 10px;
        height: 10px;
        background-color: #c4c6c9;
        border-radius: 50%;
        transition: background-color 0.3s linear, transform 0.3s linear;

        &:hover {
          background-color: $orange;
          transform: scale(1.2);
        }

      }

    }

  }

}

.user-inf-content {
  display: flex;
  @include lists-reset;
  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 100px;

  .user-info-item {
    width: 25%;
    padding: 0 15px 15px 15px;
    transition: filter 0.3s linear;
    filter: grayscale(100%);
    filter: #c4c6c9;

    a {
      text-decoration: none;
      display: block;
    }

    &:hover {
      filter: none;

      & .item-image {
        transition: transform 0.3s linear;
        transform: scale(1.1, 1.1);
        transform-origin: bottom;

        &:after {
          content: '';
          height: 5px;
          width: 100%;
          position: absolute;
          background-color: $orange;
          bottom: 15px;
          border-radius: 10px;
        }

      }

      & .item-description p {
        color: $black;
        transition: color 0.3s linear;
      }

      & .item-description h3 {
        color: $black;
        transition: color 0.3s linear;
      }

    }

    .item-image {
      width: 100%;
      padding-bottom: 15px;
      transition: transform 0.3s linear;

      img {
        width: 100%;
        display: block;
      }

    }

    .item-description {

      h3 {
        text-transform: uppercase;
        font-size: 25px;
        font-weight: $h3-weight;
        text-align: center;
        color: #c4c6c9;
        transition: color 0.3s linear;
      }

      .soc-icons {
        display: flex;
        @include lists-reset;
        justify-content: center;
        padding-bottom: 30px;

        li {
          width: inherit;

          &:not(:last-child) {
            padding:0 15px 0 0;
          }

          a {
            text-decoration: none;
            font-size: 30px;
          }

          .icon-facebook {
            color: #205b9f
          }

          .icon-twitter {
            color: #00ace3;
          }

          .icon-google {
            color: #ff3921;
          }

        }

      }

      p {
        text-align: center;
        color: #c4c6c9;
        transition: color 0.3s linear;
      }

    }

  }

}

@include media("<tablet") {

  .user-inf-content .user-info-item {
    width: 50%;
    padding: 0 15px 15px 15px;
  }

}

@include media("<phone") {

  .user-inf-content .user-info-item {
    width: 100%;
  }

}