.buttons-block {
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 10px;
  font-size: 16px;
  color: $white;
  border: 1px solid #d8d9db;
  max-width: 100%;
  width: 100%;
  padding: 15px 0;
  background: none;
  cursor: pointer;
  outline: none;
  text-transform: uppercase;
  @include animate(color border-color background-color);

  &:hover {
    background-color: $orange;
    border-color: $orange;
  }

}

.button_2 {
  background-color: $orange;
  border: 1px solid $orange;

  &:hover {
    background-color: $white;
    border-color: $white;
    color: $orange;
  }

}

.scroll-btn-section {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border: 2px solid $white;
  border-radius: 50%;
  font-size: 14px;
  width: 30px;
  height: 30px;
  @include animate(border-color color);

  i {
    @include vertical-align-el;
  }

  &:hover {
    color: $orange;
    border-color: $orange;
  }

}