html {
  box-sizing: border-box;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  max-height: 1000000px;
}

body {
  font: #{$font-size-base}/#{$base-line-height} $base-font-sans-serif;
  // font-family: $base-font-family;
  background: $base-background-color;
  // font-size: $font-size-base;
  min-width: $base-min-width;
  // line-height: $base-line-height;
  color: $base-color;
}

img {
  max-width: 100%;
  height: auto;
}